.gameboard {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 16fr;
    grid-template-columns: 1fr 3fr;
    gap: 8px;
}

.game-name {
    border: 1px solid black;
    grid-column: 1 / 3;
}